{% macro menuItem(name, route) %}
    <li class="nav-item">
        {% set isActive = app.request.attributes.get('_route') == route %}
        <a class="nav-link{% if isActive %} active" aria-current="page{% endif %}" href="{{ path(route) }}">{{ name }}</a>
    </li>
{% endmacro %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Rota Processor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ _self.menuItem("Home", 'landing') }}
                {{ _self.menuItem("Placements", 'list_placements') }}
                {{ _self.menuItem("WebDAV Calendars", 'list_calendars') }}
                {{ _self.menuItem("Jobs", 'list_jobs') }}
            </ul>
        </div>
    </div>
</nav>