{% macro menuItem(name, route) %}
    <li class="nav-item">
        {% set isActive = app.request.attributes.get('_route') == route %}
        <a class="nav-link{% if isActive %} active" aria-current="page{% endif %}" href="{{ path(route) }}">{{ name }}</a>
    </li>
{% endmacro %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path("landing") }}">Rota Processor<sup class="text-danger">BETA</sup></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if app.user %}
                    {{ _self.menuItem("Home", 'landing') }}
                    {{ _self.menuItem("Placements", 'list_placements') }}
                    {{ _self.menuItem("WebDAV Calendars", 'list_calendars') }}
                    {{ _self.menuItem("Jobs", 'list_jobs') }}
                    {% if app.user.admin %}
                        {{ _self.menuItem("Users", "list_users") }}
                        {{ _self.menuItem("Invites", "list_invites") }}
                    {% endif %}
                {% endif %}
            </ul>
            {% if app.user %}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                            {{ app.user.name }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('profile') }}"><i class="bi bi-pencil-fill"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-left"></i> Log out</a></li>
                            {% if is_granted('IS_IMPERSONATOR') %}
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" href="{{ impersonation_exit_path(path('list_users')) }}">
                                        Exit impersonation
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            {% else %}
                <a class="nav-link" href="{{ path('app_login') }}"><i class="bi bi-box-arrow-in-right"></i> Login</a>
            {% endif %}
        </div>
    </div>
</nav>
