{% extends 'base.html.twig' %}

{% block title %}My Invites{% endblock %}

{% block body %}
    <h3 class="page-title">My Invites</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Date created</th>
            <th>Comment</th>
            <th>Email used</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for invite in invites %}
            <tr class="invite-{{ invite.used ? 'expired' : 'valid' }}">
                <td>{{ invite.createdAt | ago }}</td>
                <td class="small">{{ invite.comment }}</td>
                <td>{{ invite.emailUsed }}</td>
                <td>
                    {% if not invite.used %}
                        <a href="{{ path('signup_with_invite', {id: invite.id}) }}">Get link</a>
                        | <a href="{{ path('revoke_invite', {id: invite.id}) }}">Revoke</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% if app.user.maxInvites == 0 %}
            <tr>
                <td colspan="20">
                    <a href="{{ path('new_invite') }}" class="btn btn-secondary" style="width: 100%;">+ New Invite Link</a>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}

